body {
  display: flex;
  flex-direction: column;
  margin: 0;

  font-family: "Courier New", Courier, monospace;
}

ul {
  display: flex;
  text-decoration: none;
  gap: 30px;
}

button {
  color: white;
  border: solid white 2px;
  border-radius: 5px;
  background-color: transparent;
  width: 100px;
  height: 25px;
}

.header {
  height: 20rem;
  background-color: #1f2937;
  color: white;
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
  flex-direction: row;
}

.header-info {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 50%;
}
.header-title {
  font-size: 48px;
  font-weight: bold;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: black;
}

.header-row {
  display: flex;
  padding-top: 50px;
}

.middle {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
  margin-top: -50px;
}

.text {
  height: 20rem;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 100;
}

.bottom {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.footer {
  height: 50px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  color: lightblue;
  text-align: right;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.action {
  font-weight: bold;
  font-size: 24px;
}

.sign-up {
  font-weight: 100;
  font-size: 18px;
}

.sign-up-inverted {
  background-color: #3882f6;
  border: none;
  font-weight: 700;
}

.random-info {
  font-size: 24px;
  margin: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  background-color: lightblue;
  padding: -2px;
  border-radius: 10px;
}

.cards-text {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin-top: 5px;
}
