* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 33vh);
  grid-auto-rows: 50px;
  grid-auto-columns: 50px;
  overflow: scroll;
  row-gap: 10px;
  column-gap: 5px;
}

.center {
  overflow: scroll;
  background-color: pink;
  border: 1px solid black;
}

.middle {
  background-color: orange;
  background-image: url(./duck.jpeg);
  background-position: 0px;
}
